
body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

header img{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 40px 50px;

}

.category{
    margin: 20px 0;
}

.film-container{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    
    
}

.film img{
    width: 220px;
    height: 124px;
    object-fit: cover;
    
}